<div class  = "container-fluid">
  <button>Register</button>
    <h2>Login</h2>
    <form [formGroup] = "loginForm">
      <div>
          <label>Username</label>
          <input formControlName = "username" type = "text" /><br/><br/>
      </div>
        

      <div class = "form-group">
        <label>password</label>
        <input formControlName = "password" type = "password"  /><br/><br/>
      </div>


       
        <input type = "submit" />
    </form>
    {{ loginForm.value | json}}
</div>